<p>
  <a href="/klassenstufen/neu" class="pure-button pure-button-primary">Anlegen</a>
</p>

<table class="pure-table pure-table-horizontal pure-table-striped sgh-elternverteiler-klassenstufen">
  <thead>
    <tr>
      <th>Klassenstufe</th>
      <th>Klassen</th>
      <th>Schüler</th>
      <th>Eltern</th>
    </tr>
  </thead>

  <tbody>

  <% klassenstufen.each do |stufe| %>
    <tr>
      <td>
        <a href="<%= klassenstufe_path(stufe) %>"><%= stufe %></a>
      </td>
      <td>
        <%= stufe.klassen.size %>
      </td>
      <td>
        <%= stufe.schüler.size %>
      </td>
      <td>
        <%= stufe.eltern.size %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
