<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th colspan="2">Elternvertreter</th>
    </tr>
  </thead>

  <tbody>

  <% @klassen_ämter.each do |klasse, ämter| %>
    <tr>
      <th colspan="2" style="text-align: left;">
        <a href="/klassen/<%= klasse.id %>"><%= klasse %></a>
      </th>
    </tr>

    <% ämter.each do |amt| %>
      <tr>
        <td style="padding-left: 2em;">
          <%= amt.rolle %>
        </td>

        <td valign="top">
          <a href="/eltern/<%= amt.inhaber.id %>"><%= amt.inhaber.nachname %>, <%= amt.inhaber.vorname %></a>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
