<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th colspan="2">Elternvertreter</th>
    </tr>
  </thead>

  <tbody>

  <% @klassen_amtsperioden.each do |klasse, amtsperioden| %>
    <tr>
      <th colspan="2" style="text-align: left;">
        <a href="/klassen/<%= klasse.id %>"><%= klasse %></a>
      </th>
    </tr>

    <% amtsperioden.each do |amtsperiode| %>
      <tr>
        <td style="padding-left: 2em;">
          <%= amtsperiode.rolle %>
        </td>

        <td valign="top">
          <a href="/eltern/<%= amtsperiode.inhaber.id %>"><%= amtsperiode.inhaber.nachname %>, <%= amtsperiode.inhaber.vorname %></a>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
