<tr valign=top>
  <td><%= liste.title %></td>
  <td>
    <a href="mailto:<%= liste.address(:long) %>"><%= liste.address(:short) %></a>
  </td>
  <td>
    <a href="<%= liste.url %>"><%= liste.members.count %></a>
  </td>
</tr>
