<tr valign="top">
  <td>
    <a href="<%= liste.url %>"><%= liste.name %></a>
  </td>
  <td>
    <a href="mailto:<%= liste.address(:long) %>"><%= liste.address(:long) %></a>
  </td>
  <td>
    <%= liste.members.count %>
  </td>
</tr>
