<form action="/verteiler/diff" class="pure-form pure-form-aligned" method="post">
  <p>
    <input class="pure-button pure-button-primary"
           type="submit"
           value="Überprüfen" />
    <input name="distribution_list" type="hidden" value="<%= partial('verteiler/distribution_list') %>"/>
  </p>

  <h1>Klassen</h1>

  <h2>Elternvertreter</h2>
  <table class="pure-table pure-table-bordered sgh-elternverteiler-klasse-elternvertreter">
    <%== partial('verteiler/thead') %>
    <tbody>
      <% klassen.each do |klasse| %>
        <%== partial('verteiler/tr', locals: { liste: klasse.elternvertreter.mailing_list }) %>
      <% end %>
    </tbody>
  </table>

  <h2>Eltern</h2>
  <table class="pure-table pure-table-bordered sgh-elternverteiler-klasse-eltern">
    <%== partial('verteiler/thead') %>
    <tbody>
      <% klassen.each do |klasse| %>
        <%== partial('verteiler/tr', locals: { liste: klasse.mailing_list }) %>
      <% end %>
    </tbody>
  </table>

  <h1>Klassenstufen</h1>

  <h2>Elternvertreter</h2>
  <table class="pure-table pure-table-bordered sgh-elternverteiler-klassenstufe-elternvertreter">
    <%== partial('verteiler/thead') %>
    <tbody>
      <% klassen.group_by(&:stufe).each do |klassenstufe, ks_klassen| %>
        <% klassenstufe_elternvertreter = ks_klassen.flat_map(&:elternvertreter) %>
        <%== partial('verteiler/tr', locals: {
          liste: SGH::Elternverteiler::MailingList.new(
            name: "Elternvertreter der Klassenstufe #{klassenstufe}",
            address: "elternvertreter-#{klassenstufe.to_s.downcase}",
            members: klassenstufe_elternvertreter)
          }) %>
      <% end %>
    </tbody>
  </table>

  <h2>Eltern</h2>
  <table class="pure-table pure-table-bordered sgh-elternverteiler-klassenstufe-eltern">
    <%== partial('verteiler/thead') %>
    <tbody>
      <% klassen.group_by(&:stufe).each do |klassenstufe, ks_klassen| %>
      <% klassenstufe_eltern = ks_klassen.flat_map(&:eltern) %>
        <%== partial('verteiler/tr', locals: {
          liste: SGH::Elternverteiler::MailingList.new(
            name: "Alle Eltern der Klassenstufe #{klassenstufe}",
            address: "eltern-#{klassenstufe.to_s.downcase}",
            members: klassenstufe_eltern)
         }) %>
      <% end %>
    </tbody>
  </table>

  <h1>Sonstige</h1>
  <table class="pure-table pure-table-bordered sgh-elternverteiler-sonstige">
    <%== partial('verteiler/thead') %>
    <tbody>
      <%== partial('verteiler/tr', locals: { liste: SGH::Elternverteiler::Erziehungsberechtigter.all.mailing_list }) %>
      <%== partial('verteiler/tr', locals: { liste: elternbeirat.mailing_list }) %>

      <%== partial('verteiler/tr', locals: {
        liste: SGH::Elternverteiler::MailingList.new(
             name: 'Elternvertreter in der Schulkonferenz',
             address: 'elternvertreter-schulkonferenz',
             members: evsk)
      }) %>

      <%== partial('verteiler/tr', locals: {
        liste: SGH::Elternverteiler::MailingList.new(
             name: 'Elternbeiratsvorsitzende',
             address: 'elternbeiratsvorsitzende',
             members: ebv)
      }) %>
    </tbody>
  </table>

  <p>
    <input class="pure-button pure-button-primary"
           type="submit"
           value="Überprüfen"/>
  </p>
</form>
