<div class="pure-g">
  <form action="/verteiler/diff" class="pure-form pure-form-aligned" method="post">
    <input class="pure-button pure-button-primary"
           type="submit"
           value="Überprüfen" />
    <input name="distribution_list" type="hidden" value="<%= partial('verteiler/distribution_list') %>"/>
  </form>

  <form action="/verteiler/export" class="pure-form pure-form-aligned" method="post">
    <input class="pure-button pure-button-secondary"
           type="submit"
           value="Exportieren" />
  </form>
</div>

<h1>Klassen</h1>

<h2>Elternvertreter</h2>
<table class="pure-table pure-table-bordered sgh-elternverteiler-klasse-elternvertreter">
  <%== partial('verteiler/thead') %>
  <tbody>
    <% klassen.each do |klasse| %>
      <%== partial('verteiler/tr', locals: { liste: klasse.elternvertreter.mailing_list }) %>
    <% end %>
  </tbody>
</table>

<h2>Eltern</h2>
<table class="pure-table pure-table-bordered sgh-elternverteiler-klasse-eltern">
  <%== partial('verteiler/thead') %>
  <tbody>
    <% klassen.each do |klasse| %>
      <%== partial('verteiler/tr', locals: { liste: klasse.mailing_list }) %>
    <% end %>
  </tbody>
</table>

<h1>Klassenstufen</h1>

<h2>Elternvertreter</h2>
<table class="pure-table pure-table-bordered sgh-elternverteiler-klassenstufe-elternvertreter">
  <%== partial('verteiler/thead') %>
  <tbody>
    <% klassenstufen.each do |klassenstufe| %>
      <%== partial('verteiler/tr', locals: { liste: klassenstufe.elternvertreter.mailing_list }) %>
    <% end %>
  </tbody>
</table>

<h2>Eltern</h2>
<table class="pure-table pure-table-bordered sgh-elternverteiler-klassenstufe-eltern">
  <%== partial('verteiler/thead') %>
  <tbody>
    <% klassenstufen.each do |klassenstufe| %>
      <%== partial('verteiler/tr', locals: { liste: klassenstufe.mailing_list }) %>
    <% end %>
  </tbody>
</table>

<h1>Sonstige</h1>
<table class="pure-table pure-table-bordered sgh-elternverteiler-sonstige">
  <%== partial('verteiler/thead') %>
  <tbody>
    <%== partial('verteiler/tr', locals: { liste: eltern.mailing_list }) %>
    <%== partial('verteiler/tr', locals: { liste: elternbeirat.mailing_list }) %>
    <%== partial('verteiler/tr', locals: { liste: evsk.mailing_list }) %>
    <%== partial('verteiler/tr', locals: { liste: gebd.mailing_list }) %>
    <%== partial('verteiler/tr', locals: { liste: ebv.mailing_list }) %>
  </tbody>
</table>

<%
=begin
%>

<h1>Ämter</h1>
<table class="pure-table pure-table-bordered sgh-elternverteiler-ämter">
  <%== partial('verteiler/thead') %>
  <tbody>
    <% SGH::Elternverteiler::Amt.each do |amt| %>
    <%== partial('verteiler/tr', locals: { liste: amt.mailing_list }) %>
    <% end %>
  </tbody>
</table>

<%
=end
%>
