<form action="/verteiler/diff" class="pure-form pure-form-aligned" method="post">
  <p>
    <input class="pure-button pure-button-primary"
           type="submit"
           value="Überprüfen" />
    <input name="distribution_list" type="hidden" value="<%= partial('verteiler/distribution_list') %>"/>
  </p>

  <h1>Klassen</h1>

  <h2>Eltern</h2>
  <table class="pure-table pure-table-bordered">
    <%== partial('verteiler/thead') %>
    <tbody>
      <% @klassen.each do |klasse| %>
        <%== partial('verteiler/tr', locals: {
          liste: SGH::Elternverteiler::MailingList.new(
               title: "Alle Eltern der Klasse #{klasse}",
               address: "eltern-#{klasse.to_s.downcase}",
               members: klasse.eltern)
        }) %>
      <% end %>
    </tbody>
  </table>

  <h2>Elternvertreter</h2>
  <table class="pure-table pure-table-bordered">
    <%== partial('verteiler/thead') %>
    <tbody>
      <% @klassen.each do |klasse| %>
        <%== partial('verteiler/tr', locals: {
          liste: SGH::Elternverteiler::MailingList.new(
               title: "Elternvertreter der Klasse #{klasse}",
               address: "elternvertreter-#{klasse.to_s.downcase}",
               members: klasse.elternvertreter)
        }) %>
      <% end %>
    </tbody>
  </table>

  <h1>Klassenstufen</h1>

  <h2>Elternvertreter</h2>
  <table class="pure-table pure-table-bordered">
    <%== partial('verteiler/thead') %>
    <tbody>
      <% @klassen.group_by(&:stufe).each do |klassenstufe, klassen| %>
        <% klassenstufe_elternvertreter = klassen.flat_map(&:elternvertreter) %>
        <%== partial('verteiler/tr', locals: { liste: SGH::Elternverteiler::MailingList.new(
           title: "Elternvertreter der Klassenstufe #{klassenstufe}",
           address: "elternvertreter-#{klassenstufe.to_s.downcase}",
           members: klassenstufe_elternvertreter) }) %>
      <% end %>
    </tbody>
  </table>

  <h2>Eltern</h2>
  <table class="pure-table pure-table-bordered">
    <%== partial('verteiler/thead') %>
    <tbody>
      <% @klassen.group_by(&:stufe).each do |klassenstufe, klassen| %>
      <% klassenstufe_eltern = klassen.flat_map(&:eltern) %>
        <%== partial('verteiler/tr', locals: {
          liste: SGH::Elternverteiler::MailingList.new(
               title: "Alle Eltern der Klassenstufe #{klassenstufe}",
               address: "eltern-#{klassenstufe.to_s.downcase}",
               members: klassenstufe_eltern)
         }) %>
      <% end %>
    </tbody>
  </table>

  <h1>Sonstige</h1>
  <table class="pure-table pure-table-bordered">
    <%== partial('verteiler/thead') %>
    <tbody>
      <%== partial('verteiler/tr', locals: {
        liste: SGH::Elternverteiler::MailingList.new(
             title: 'Alle Eltern',
             address: "eltern",
             members: @eltern)
        }) %>

      <%== partial('verteiler/tr', locals: {
        liste: SGH::Elternverteiler::MailingList.new(
             title: 'Elternbeirat',
             address: 'elternbeirat',
             members: @elternbeirat)
      }) %>

      <%== partial('verteiler/tr', locals: {
        liste: SGH::Elternverteiler::MailingList.new(
             title: 'Elternvertreter in der Schulkonferenz',
             address: 'elternvertreter-schulkonferenz',
             members: @evsk)
      }) %>

      <%== partial('verteiler/tr', locals: {
        liste: SGH::Elternverteiler::MailingList.new(
             title: 'Elternbeiratsvorsitzende',
             address: 'elternbeiratsvorsitzende',
             members: @ebv)
      }) %>
    </tbody>
  </table>

  <p>
    <input class="pure-button pure-button-primary"
           type="submit"
           value="Überprüfen"/>
  </p>
</form>
