<form action="/verteiler/diff" class="pure-form pure-form-aligned" method="post">
  <p>
    <input class="pure-button pure-button-primary"
           type="submit"
           value="Überprüfen" />
    <input name="distribution_list" type="hidden" value="<%= partial('verteiler/distribution_list') %>"/>
  </p>

  <h1>Klassen</h1>

  <h2>Eltern</h2>
  <table class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>Liste</th>
        <th>eMail-Adresse</th>
        <th>Mitglieder</th>
      </tr>
    </thead>
    <tbody>
      <% @klassen.each do |klasse| %>
        <% liste = SGH::Elternverteiler::MailingList.new(
             title: "Alle Eltern der Klasse #{klasse}",
             address: "eltern-#{klasse.to_s.downcase}",
             members: klasse.eltern)
        %>
        <tr valign=top>
          <td><%= liste.title %></td>
          <td><%= liste.address.split('@').first %></td>
          <td><%= liste.members.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Elternvertreter</h2>
  <table class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>Liste</th>
        <th>eMail-Adresse</th>
        <th>Mitglieder</th>
      </tr>
    </thead>
    <tbody>
      <% @klassen.each do |klasse| %>
        <% liste = SGH::Elternverteiler::MailingList.new(
             title: "Elternvertreter der Klasse #{klasse}",
             address: "elternvertreter-#{klasse.to_s.downcase}",
             members: klasse.elternvertreter)
        %>
        <tr valign=top>
          <td><%= liste.title %></td>
          <td><%= liste.address.split('@').first %></td>
          <td><%= liste.members.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h1>Klassenstufen</h1>

  <h2>Elternvertreter</h2>
  <table class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>Liste</th>
        <th>eMail-Adresse</th>
        <th>Mitglieder</th>
      </tr>
    </thead>
    <tbody>
      <% @klassen.group_by(&:stufe).each do |klassenstufe, klassen| %>
        <%
          klassenstufe_elternvertreter = klassen.flat_map(&:elternvertreter)
          liste = SGH::Elternverteiler::MailingList.new(
             title: "Elternvertreter der Klassenstufe #{klassenstufe}",
             address: "elternvertreter-#{klassenstufe.to_s.downcase}",
             members: klassenstufe_elternvertreter)
        %>
        <tr valign=top>
          <td><%= liste.title %></td>
          <td><%= liste.address.split('@').first %></td>
          <td><%= liste.members.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Eltern</h2>
  <table class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>Liste</th>
        <th>eMail-Adresse</th>
        <th>Mitglieder</th>
      </tr>
    </thead>
    <tbody>
      <% @klassen.group_by(&:stufe).each do |klassenstufe, klassen| %>
      <%
        klassenstufe_eltern = klassen.flat_map(&:eltern)
        liste = SGH::Elternverteiler::MailingList.new(
             title: "Alle Eltern der Klassenstufe #{klassenstufe}",
             address: "eltern-#{klassenstufe.to_s.downcase}",
             members: klassenstufe_eltern)
        %>
        <tr valign=top>
          <td><%= liste.title %></td>
          <td><%= liste.address.split('@').first %></td>
          <td><%= liste.members.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h1>Sonstige</h1>
  <table class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>Liste</th>
        <th>eMail-Adresse</th>
        <th>Mitglieder</th>
      </tr>
    </thead>
    <tbody>
      <% liste = SGH::Elternverteiler::MailingList.new(
           title: 'Alle Eltern',
           address: "eltern",
           members: @eltern)
      %>
      <tr valign=top>
        <td><%= liste.title %></td>
        <td><%= liste.address.split('@').first %></td>
        <td><%= liste.members.count %></td>
      </tr>

      <% liste = SGH::Elternverteiler::MailingList.new(
           title: 'Elternbeirat',
           address: 'elternbeirat',
           members: @elternbeirat)
      %>
      <tr valign=top>
        <td><%= liste.title %></td>
        <td><%= liste.address.split('@').first %></td>
        <td><%= liste.members.count %></td>
      </tr>

      <% liste = SGH::Elternverteiler::MailingList.new(
           title: 'Elternvertreter in der Schulkonferenz',
           address: 'elternvertreter-schulkonferenz',
           members: @evsk)
      %>
      <tr valign=top>
        <td><%= liste.title %></td>
        <td><%= liste.address.split('@').first %></td>
        <td><%= liste.members.count %></td>
      </tr>

      <% liste = SGH::Elternverteiler::MailingList.new(
           title: 'Elternbeiratsvorsitzende',
           address: 'elternbeiratsvorsitzende',
           members: @ebv)
      %>
      <tr valign=top>
        <td><%= liste.title %></td>
        <td><%= liste.address.split('@').first %></td>
        <td><%= liste.members.count %></td>
      </tr>

    </tbody>
  </table>

  <p>
    <input class="pure-button pure-button-primary"
           type="submit"
           value="Überprüfen"/>
  </p>
</form>
