<section class="sgh-elternverteiler-schüler">
  <h2>Schüler</h2>

  <p>
    <a href="/schüler/neu" class="pure-button pure-button-primary">Anlegen</a>
  </p>

  <table class="pure-table pure-table-horizontal pure-table-striped sgh-elternverteiler-schüler">
    <thead>
      <tr>
        <th>Nachname</th>
        <th>Vorname</th>
      </tr>
    </thead>

    <tbody>

    <% schueler.each do |sch| %>
      <tr>
        <td>
          <a name="<%= sch.nachname&.chars&.first %>"/>
          <a href="/schüler/<%= sch.id %>"><%= sch.nachname %></a>
        </td>
        <td>
          <a href="/schüler/<%= sch.id %>"><%= sch.vorname %></a>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</section>
