<%== partial('email') %>

<table class="pure-table pure-table-horizontal pure-table-striped">
  <thead>
    <tr>
      <th>Nachname</th>
      <th>Vorname</th>
      <th>Klasse</th>
      <th>Unterschrift</th>
    </tr>
  </thead>

  <tbody>

  <% eltern.each do |elternteil| %>
    <tr>
      <td><%= elternteil.nachname %></td>
      <td><%= elternteil.vorname %></td>
      <td>
        <%= elternteil.amtsperioden.map(&:amt).uniq.join(', ') %>
        <%= elternteil.amtsperioden.map{|a| "#{a.klasse}" }.uniq.join(', ') %>
      </td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
