<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Elternvertreter</th>
      <th/>
    </tr>
  </thead>

  <tbody>

  <% @klassen.each do |klasse| %>
    <tr>
      <th colspan="2" style="text-align: left;"><%= klasse %></th>
    </tr>
    <% klasse.inhaber(*klasse.rollen).uniq.each do |elternteil| %>
      <tr>
        <td style="padding-left: 2em;">
          <% if elternteil.mail %>
            <a href="mailto:<%= elternteil.mail %>"><%= elternteil.nachname %>, <%= elternteil.vorname %></a>
          <% else %>
            <%= elternteil.nachname %>, <%= elternteil.vorname %>
          <% end %> <%= elternteil.rollen.map(&:name).join(', ') %>
        </td>

        <td class="no-print">
          <a href="/eltern/<%= elternteil.id %>/edit">Bearbeiten</a>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
