<table class="pure-table pure-table-horizontal pure-table-striped">
  <thead>
    <tr>
      <th>Klasse</th>
      <th>Elternvertreter</th>
    </tr>
  </thead>

  <tbody>

  <% klassen.each do |klasse| %>
    <tr>
      <td><%= klasse %></td>
      <td>
          <% klasse.inhaber(*klasse.rollen).uniq.each do |elternteil| %>
            <% if elternteil.mail %>
              <a href="mailto:<%= elternteil.mail %>"><%= elternteil.nachname %>, <%= elternteil.vorname %></a>
            <% else %>
              <%= elternteil.nachname %>, <%= elternteil.vorname %>
            <% end %> <%= elternteil.rollen.map(&:name).join(', ') %>
            <br/>
          <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
