<div id=navbar style="position: fixed; right: 5%; top: 15%">
  <% ('A'..'Z').each do |char| %>
    <p><a href="#<%= char %>"><%= char %></a></p>
  <% end %>
</div>

<% if @ämter %>
  <h3>Elternvertreter</h3>

  <p>
    <%== partial('email') %>
  </p>

  <p>
    <a href="/klassen/<%= @klasse.id %>/rollen/add" class="pure-button pure-button-primary">Hinzufügen</a>
  </p>

  <table class="pure-table pure-table-horizontal sgh-elternverteiler-erziehungsberechtigter">
    <thead>
      <tr>
        <th>Amt</th>
        <th>Inhaber</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

    <% @ämter.each do |amt| %>
      <tr>
        <td style="padding-left: 2em;">
          <%= amt.rolle %>
        </td>

        <td valign="top">
          <a href="/eltern/<%= amt.inhaber.id %>">
            <%= amt.inhaber.nachname %>, <%= amt.inhaber.vorname %>
          </a>
        </td>

        <td class="no-print">
          <% form(@amt,
                  :inputs_wrapper => :fieldset,
                  class: 'pure-form pure-form-aligned',
                  action: "/klassen/#{amt.klasse.id}/rollen/#{amt.rolle.id}/inhaber/#{amt.inhaber.id}",
                  method: 'post',
                  ) do |f| %>

            <%== f.button(value: 'Entfernen', class: "pure-button pure-button-primary") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
<% end %>

<h3>Schüler</h3>

<p>
  <a href="/schueler/neu" class="pure-button pure-button-primary">Anlegen</a>
</p>

<table class="pure-table pure-table-horizontal pure-table-striped sgh-elternverteiler-schüler">
  <thead>
    <tr>
      <th>Nachname</th>
      <th>Vorname</th>
      <th>Klasse</th>
    </tr>
  </thead>

  <tbody>

  <% @schüler.each do |sch| %>
    <tr>
      <td>
        <a name="<%= sch.nachname&.chars&.first %>"/>
        <a href="/schueler/<%= sch.id %>"><%= sch.nachname %></a>
      </td>
      <td>
        <a href="/schueler/<%= sch.id %>"><%= sch.vorname %></a>
      </td>
      <td>
        <a href="/klassen/<%= sch.klasse.id %>"><%= sch.klasse %></a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if @klasse %>
<h3>Meta</h3>

<form action="/klassen/<%= @klasse.id %>/delete" class="pure-form pure-form-aligned" method="post">
<p>
  <input class="pure-button"
         type="submit"
         value="Löschen"
         style="color: white; background: rgb(202, 60, 60)"
         onclick="return confirm('Sind Sie sicher, daß Sie die Klasse <%= @klasse %> löschen möchten?')"
  />
</p>
</form>
<% end %>
