<h3>Schüler/in</h3>

<table class="pure-table pure-table-horizontal sgh-elternverteiler-schüler">
  <tr>
    <th style="background-color: #f2f2f2; text-align: right;">Nachname</th>
    <td><%= @schüler.nachname %></td>
  </tr>

  <tr>
    <th style="background-color: #f2f2f2; text-align: right;">Vorname</th>
    <td><%= @schüler.vorname %></td>
  </tr>

  <tr>
    <th style="background-color: #f2f2f2; text-align: right;">Klasse</th>
    <td><a href="/klassen/<%= @schüler.klasse.id %>"><%= @schüler.klasse %></a></td>
  </tr>

  <tr>
    <th style="background-color: #f2f2f2; text-align: right;">Eltern</th>
    <td>
      <% @schüler.eltern.each do |paren| %>
        <a href="/eltern/<%= paren.id %>"><%= paren %></a><br/>
      <% end %>
      <p>
        <a href="/schueler/<%= @schüler.id %>/erziehungsberechtigter/add">Hinzufügen</a>
      </p>
    </td>
  </tr>
</table>

<form action="/schueler/<%= @schüler.id %>/delete" class="pure-form pure-form-aligned sgh-elternverteiler-schüler-form" method="post">
<p>
  <a href="/schueler/<%= @schüler.id %>/edit" class="pure-button pure-button-primary">Bearbeiten</a>
  <input class="pure-button"
         type="submit"
         value="Löschen"
         style="color: white; background: rgb(202, 60, 60)"
         onclick="return confirm('Sind Sie sicher, daß Sie den Schüler <%= @schüler %> löschen möchten?')"
  />
</p>
</form>
