<div id=navbar style="position: fixed; right: 5%; top: 15%">
  <% ('A'..'Z').each do |char| %>
  <p><a href="#<%= char %>"><%= char %></a></p>
  <% end %>
</div>

<p>
  <%== partial('email', locals: { address: eltern.mailing_list.address(:long) }) %>
</p>

<p>
  <a href="/eltern/neu" class="pure-button pure-button-primary">Anlegen</a>
</p>

<table class="pure-table pure-table-horizontal pure-table-striped sgh-elternverteiler-erziehungsberechtigter">
  <thead>
    <tr>
      <th>Nachname</th>
      <th>Vorname</th>
      <th>eMail</th>
      <th>Ämter</th>
    </tr>
  </thead>

  <tbody>

  <% eltern.each do |elternteil| %>
    <tr>
      <td>
        <a name="<%= elternteil.nachname&.chars&.first %>"/>
        <a href="/eltern/<%= elternteil.id %>"><%= elternteil.nachname %></a>
      </td>
      <td>
        <a href="/eltern/<%= elternteil.id %>"><%= elternteil.vorname %></a>
      </td>
      <td>
        <a href="/eltern/<%= elternteil.id %>"><%= elternteil.mail %></a>
      </td>
      <td>
        <% elternteil.amtsperioden.each do |amtsperiode| %>
          <%= amtsperiode %><br/>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
