<table class="pure-table pure-table-horizontal sgh-elternverteiler-erziehungsberechtigter">
  <tr>
    <th style="border-left-style: hidden; border-right-style: hidden; border-top-style: hidden; text-align: left;" colspan=2><h2>Stammdaten</h2></th>
  </tr>

  <tr>
    <th style="background-color: #f2f2f2; text-align: right;">Nachname</th>
    <td><%= @erziehungsberechtigter.nachname %></td>
  </tr>

  <tr>
    <th style="background-color: #f2f2f2; text-align: right;">Vorname</th>
    <td><%= @erziehungsberechtigter.vorname %></td>
  </tr>

  <tr>
    <th style="background-color: #f2f2f2; text-align: right;">Telefon</th>
    <td><%= @erziehungsberechtigter.telefon %></td>
  </tr>

  <tr>
    <th style="background-color: #f2f2f2; text-align: right;">eMail</th>
    <td>
      <% if @erziehungsberechtigter.mail %>
        <a href="mailto:<%= @erziehungsberechtigter.mail %>"><%= @erziehungsberechtigter.mail %></a>
      <% else %>
        <%= @erziehungsberechtigter.mail %>
      <% end %>
    </td>
  </tr>

    <tr>
      <th style="background-color: #f2f2f2; text-align: right;">Ämter</th>
      <td>
        <% @erziehungsberechtigter.amtsperioden.each do |amtsperiode| %>
        <a href="/rollen/<%= amtsperiode.rolle.id %>"><%= amtsperiode.rolle %></a>
        <a href="/klassen/<%= amtsperiode.klasse.id %>"><%= amtsperiode.klasse %></a>
        <br/>
        <% end %>
      </td>
    </tr>

    <tr>
      <th style="background-color: #f2f2f2; text-align: right;">Kinder</th>
      <td>
        <% @erziehungsberechtigter.kinder.each do |kind| %>
          <a href="/schueler/<%= kind.id %>"><%= kind.name %></a>
          <a href="/klassen/<%= kind.klasse.id %>"><%= kind.klasse %></a>
          <br/>
        <% end %>
      </td>
    </tr>

    <%== partial('meta', locals: { item: @erziehungsberechtigter }) %>
</table>

<form action="/eltern/<%= @erziehungsberechtigter.id %>/delete" class="pure-form pure-form-aligned" method="post">
<p>
  <a href="/eltern/<%= @erziehungsberechtigter.id %>/edit" class="pure-button pure-button-primary">Bearbeiten</a>
  <input class="pure-button"
         type="submit"
         value="Löschen"
         style="color: white; background: rgb(202, 60, 60)"
         onclick="return confirm('Sind Sie sicher, daß Sie den Erziehungsberechtigten <%= @erziehungsberechtigter %> löschen möchten?')"
  />
</p>
</form>
