<h2>Inhaber</h2>

<p>
  eMail: <%== partial('email-sgh', locals: { address: @amt.mail }) %>
</p>

<p>
  <a href="<%= amt_path(@amt) %>/inhaber/add" class="pure-button pure-button-primary">Hinzufügen</a>
</p>

<table class="pure-table pure-table-horizontal sgh-elternverteiler-amtsinhaber">
  <thead>
    <tr>
      <th>Inhaber</th>
      <th>Klasse</th>
      <th/>
    </tr>
  </thead>

  <tbody>

  <% @amt.amtsperioden.each do |amtsperiode| %>
  <tr>
    <td>
      <a href="/eltern/<%= amtsperiode.inhaber.id %>"><%= amtsperiode.inhaber.nachname %>, <%= amtsperiode.inhaber.vorname %></a><br/>
    </td>

    <td>
      <%= amtsperiode.klasse.name %><br/>
    </td>

    <td class="no-print">
        <% form(amtsperiode,
                :inputs_wrapper => :fieldset,
                class: 'pure-form pure-form-aligned',
                action: "#{klasse_path(amtsperiode.klasse)}/ämter/#{amtsperiode.amt.id}/inhaber/#{amtsperiode.inhaber.id}",
                method: 'post',
                ) do |f| %>
          <%== f.button(
                 value: 'Entfernen',
                 class: "pure-button button-destructive",
                 onclick: "return confirm('Sind Sie sicher, daß Sie den #{@amt} der #{amtsperiode.klasse} löschen möchten?')"
               )
          %>
        <% end %>
    </td>
  </tr>
  <% end %>

  <%== partial('meta', locals: { item: @amt }) %>
  </tbody>
</table>

<form action="/ämter/<%= @amt.id %>/delete" class="pure-form pure-form-aligned" method="post">
<p>
  <a href="/ämter/<%= @amt.id %>/edit" class="pure-button pure-button-primary">Bearbeiten</a>
  <input class="pure-button button-destructive"
         type="submit"
         value="Löschen"
         onclick="return confirm('Sind Sie sicher, daß Sie das Amt <%= @amt %> löschen möchten?')"
  />
</p>
</form>
