<% form(@backup_manager,
        :inputs_wrapper => :fieldset,
        class: 'pure-form pure-form-aligned',
        action: '/backups/restore',
        method: 'post',
        ) do |f| %>
  <p>
    <%== f.button(value: 'Einspielen', class: "pure-button pure-button-primary") %>
  </p>

  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th></th>
        <th>Datum</th>
        <th>Name</th>
        <!--
        <th>Download</th>
        -->
      </tr>
    </thead>

    <tbody>
      <% @backup_manager.all.each do |backup| %>
      <tr>
        <td>
          <input name="sgh/elternverteiler/backups" type="radio" value="<%= backup.name %>"/>
        </td>
        <td><%= backup.created_at %></td>
        <td><%= backup.name %></td>
        <!--
        google-cloud-ruby has broken escaping. It creates + for spaces with CGI.escape, where %20 would be correct.
        This was introduced here: https://github.com/GoogleCloudPlatform/google-cloud-ruby/commit/403ac382e943809a0ea93c51b786a123fab98f09#diff-030a250aa9bc3edca850f0e6158da318L44
        <td><a href="<%#= backup.signed_url %>">Download</a></td>
        -->
      </tr>
      <% end %>
    </tbody>
  </table>

  <p>
    <%== f.button(value: 'Einspielen', class: "pure-button pure-button-primary") %>
  </p>
<% end %>
